#__arrow-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999998;
    top: 0;
    left: 0;
}

#overlay #tools {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    align-items: center;
}

#overlay #tools button,
#overlay #tools input {
    all: unset;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 4px;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#overlay #tools button:hover {
    background-color: #f0f0f0;
}

#overlay #tools button:active {
    background-color: #ddd;
}

.undoBtn:disabled,
.redoBtn:disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999999;
}

#overlay .grabArea {
    grid-column: 1 / -1;  
    height: 20px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}
